<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fd.map">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.fd.map.di.TaxiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.Taxi">
        <activity
            android:name="com.fd.map.presentation.ui.activity.MapActivity"
            android:exported="false"
            android:label="@string/map_activity_name"
            android:parentActivityName="com.fd.map.presentation.ui.activity.MainActivity"/>
        <activity
            android:name="com.fd.map.presentation.ui.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>